@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open sans/.OpenSans-Regular.eot");
  src: url("../fonts/open sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open sans/OpenSans-Regular.woff") format("woff"), url("OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: "Open Sans", sans-serif;
  background-color: #fafafa;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  position: relative;
}

@media (max-width: 760px) {
  .header__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 0 0 6rem;
}

.nav__item {
  margin: 0 3rem 0 0;
}

@media (max-width: 760px) {
  .nav__item {
    margin: 1rem 0;
  }
}

.nav__link {
  color: #3d3b3b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

@media (max-width: 860px) {
  .nav__link {
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  .nav__link {
    font-size: 22px;
    padding: 10px 0;
    letter-spacing: 0.05em;
  }
}

.nav__link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6b6a6e;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.nav__link:hover:after, .nav__link:focus:after {
  width: 100%;
}

@media (max-width: 760px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 10px 0 0;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #141212;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #271d1d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    top: 9px;
  }
  .nav {
    position: fixed;
    top: -112%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #a09d9d;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    padding-left: 0;
  }
  .nav__item {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav.active {
    top: 0;
  }
  .nav__list {
    display: block;
  }
  body.lock {
    overflow: hidden;
  }
}

.home__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: calc(27px + 20 * (100vw / 1400));
  line-height: 1.2;
  color: #070707;
  padding-top: 40px;
}

.home__title.h1 {
  font-size: 47px;
}

.home__img {
  width: 100%;
}

.title {
  font-size: calc(20px + 10 * (100vw / 1400));
  line-height: 1.3;
  font-size: "Open Sans", sans-serif;
}

.text {
  font-size: calc(14px + 6 * (100vw / 1400));
  line-height: 1.2;
  font-size: "Open Sans", sans-serif;
}

.aboutme,
.skills,
.home {
  padding-bottom: 40px;
}

.portfolio {
  margin-bottom: 100px;
}

.portfolio__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #403f41;
  margin: 10px 2px;
  font-size: calc(18px + 7 * (100vw / 1400));
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio__link:hover {
  text-shadow: 1px 0px 1px #828282;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

@media (max-width: 870px) {
  .portfolio__images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-img {
  max-width: 700px;
  width: 100%;
  max-height: 440px;
  max-width: 100%;
  -webkit-box-shadow: 2px 1px 4px #ccc;
          box-shadow: 2px 1px 4px #ccc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.contacts {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 640px) {
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__block_item {
  margin: 0 0 40px 0;
}

.contacts__block_item a {
  text-decoration: none;
}

.contacts__title {
  text-align: center;
}

.left-block {
  margin: 0 0 40px 15px;
}

.left-block__box {
  margin: 15px 5px;
}

.left-block__box__box a svg {
  padding: 0 5px;
}

.left-block__box_adress:hover {
  font-weight: 700;
  border-bottom: 2px solid #828282;
}

.left-block__box a {
  font-weight: 500;
  color: #3d3b3b;
  font-size: calc(14px + 4 * (100vw / 1400));
}

.left-block__box span:hover {
  font-weight: 700;
  border-bottom: 2px solid #828282;
}

.svg-contact {
  width: 35px;
  height: 35px;
  padding: 1px 5px;
}

.svg-contact:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ddd;
  border-radius: 5px;
}

.social__icon {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.social__icon:hover {
  background-color: #ddd;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#scrollup {
  position: fixed;
  background-color: transparent;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  text-align: center;
  display: none;
}

#scrollup.scrollup_active {
  display: block;
}

#scrollup:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.icon-circle-up {
  color: #6b6a6e;
}

.icon-circle-up:hover {
  color: #3a3a3b;
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon_up_link {
  text-decoration: none;
}

.block {
  background: #ddd;
  width: 220px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  border: 2px solid #070707;
}

.block p {
  color: #070707;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 15px;
}

.block.anim {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav_link.link__active {
  color: #000;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */